

main{
    max-width: 80vw;
    margin: auto; 
}

/* FORMULARIO DE BUSCA DE LIVROS  */
#buscar{
    background: rgb(209, 211, 218);
    max-height: 100px;
    max-width: 100%;
    display: block;
    border-bottom: 1px solid #444;
}
#buscar form{
    height: 100px;
    max-width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}
#buscar form input{
    max-width: 350px;
    max-height: 40px;
    font-size: 20px;
    background: #fff;
    color: #000;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #999;
    padding: 10px;
}
#buscar form input:focus {
    border: 1px solid rgb(26, 25, 25);
}
#buscar form button {
    width: 50px;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#buscar form button img {
    width: 25px;
    height: 25px;
}
#buscar form button:hover {
    background: linear-gradient(to bottom, rgb(185, 179, 179) , rgb(128, 123, 123) );
}



/* FORMULARIO PARA ATUALIZAR  */
#form-atualizar form{
    max-width: 500px;
    min-height: 650px;
    background: rgb(190, 186, 186);
    border: 1px solid #000;
    float: right;
    margin-top: 25px;
    margin-bottom: 40px;
    padding: 25px;
}
.erros{
    min-height: 25px;
    width: 100%;
    display: block;
    color: #d00;
    font-size: 16px;
    font-weight: bold;
}
#form-atualizar form input,textarea,select, option{
    font-size: 18px;
    padding: 5px;
}
#form-atualizar  form input[type='text'],select,option{
    border: 1px solid #000;

}
#form-atualizar form select,option{
    min-width: 100%;
    margin: 10px 0px;
    cursor: pointer;

    
}
#form-atualizar form input[type='text']{
    display: block;
    width: 100%;
    min-height: 30px;
    margin: 10px 0px;
    padding: 5px;

}
#form-atualizar form textarea{
    display: block;
    max-width: 100%;
    margin: 10px 0px;
    padding: 5px;
}
#form-atualizar form label, input[type='file']{
    display: block;
    max-width: 100%;
    margin-top: 2px;
    cursor: pointer;
}
#form-atualizar form input[type='submit']{
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, .6);
    outline: none;
    font-weight: bold;
}
#form-atualizar form input[type='submit']:hover{
    background: linear-gradient(to bottom,rgba(160, 233, 112, 0.863), rgba(75, 132, 22, 0.739));
    color: #fff;
    cursor: pointer;
}

#form-atualizar form button.btn-apagar{
    padding: 10px 30px;
    float: right;
    margin-top: 25px;
    background: rgb(211, 67, 67);
    border: 0px;
    outline: none;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 1px #777;
    text-transform: uppercase;
    cursor: pointer;
}
#form-atualizar form button.btn-apagar:hover{
    background: rgb(173, 33, 33);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.58)
}

#form-atualizar form fieldset{
    padding: 15px;
    margin: 20px 0px;
}
#form-atualizar form fieldset legend{
    padding: 0px 5px;
    margin: 0;
}
#form-atualizar input[type='text']:focus{
    border: 1px solid #f00;
}
#form-atualizar textarea:focus{
    border: 1px solid #f00;
}



/*
    LISTA DE LIVROS DO RESULTADO 
*/
#lista-livros{
    max-width: calc(100%-500px);
    min-width: 200px;
    display: flex;

}
#lista-livros ul{
    max-width: 800px;
}
#lista-livros ul li {
    width: 260px;
    min-height: 400px;
    margin: 25px 20px 15px 0px ;
    text-align: center;
    float: left;
}
#lista-livros ul li img{
    width: 260px;
    height: 300px;
    padding: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .6);
}
#lista-livros ul li img:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}
#lista-livros ul li h3 a{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px 0px;
    min-height: 100px;
}
#lista-livros ul li h3 a:hover {
    color: rgb(238, 14, 14);
}

#lista-livros ul li p a{
    font-size: 14px; 
    padding:4px 7px;
    border: 1px solid #555;
    border-radius: 5px;
}
#lista-livros ul li p a:hover{
    color: rgb(246, 17, 17);
    border: 1px solid rgb(246, 17, 17);
}

/*---- MODAL ---------*/
.notice{
    background: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.552);
    min-height: 190px;
    width: 450px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -95px 0 0 -225px;
    z-index: 1;
}
.notice h3{
    font-size: 26px;
    font-weight: lighter;
    padding: 5px 0px 2px 0px;
    /* text-align: center; */
    
    
}
.notice > p{
    padding: 5px 0px;
    font-size: 16px;
}
.notice .modal-titulo-livro{
    font-size: 20px;
    padding: 10px 0px;
}
.notice .modal-botoes{
    text-align: end;
}

.notice button{
    border: 1px solid transparent;
    font-size: 16px;
}

.btn-modal-cancelar{
    background: #fafafa;
    color: #333;
    padding: 7px 12px;
    cursor: pointer;
}
.btn-modal-cancelar:hover{
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .6);
}

.btn-modal-apagar{
    background: #F44336;
    color: #FFF;
    padding: 7px;
    font-weight: bold;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    cursor: pointer;
}
.btn-modal-apagar:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background:  rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
}
.notice, .overlay{
    display: none;
}



/*--- Paginação ----*/
.paginacao{
    clear: both;
    min-height: 40px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: #000;
}
.paginacao p{
    padding: 6px;
    font-size: 18px;
}
.paginacao p a{
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 3px 6px;
    margin: 0 5px;
}
.paginacao p span{
    padding: 6px;
    margin: 0 5px;
    text-decoration: underline;
}
.paginacao p a:hover{
    color: #f00;
}


@media screen and (max-width:800px) {
    main{
        max-width: 100vw;
    }
    #buscar{
        max-height: 100px;
        max-width: 100%;
        display: block;
    }
    #buscar form input{
        width: 75vw;
       
    }
    .msg-resutados{
        font-size: 16px;
        padding: 5px 20px;
    }
    .msg-resutados span{
        font-weight: bold;
        text-decoration: underline;
    }
    #form-atualizar form{
        max-width: 100vw;
        min-height: 700px;
        background: rgb(190, 186, 186);
        border: 1px solid #000;
        float: none;
        display: block;
        margin-top: 25px;
        margin-bottom: 40px;
        padding: 15px;
    }
    #form-atualizar form input{
       height: 40px;
    }
    #form-atualizar form textarea{
        width: 100%;
    }
    #form-atualizar form label, input[type='file']{
        max-width: 70vw;
    }
    .notice{
        width: 90%;
        top: 20%;
        left: auto;
        margin: 0 auto;
    }

    #lista-livros{
        width: 100%;
        display: block;
    }
    #lista-livros ul{
       width: 100%;
    }
    #lista-livros ul li {
        width: 260px;
        min-height: 400px;
        float: none;
        margin:50px auto;
    }

}