
.livro{
    width: 80vw;
    min-height: 86vh;
    margin: auto;
    padding: 20px;
    background: rgb(241, 237, 237);
}

.livro article{
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.livro article figure img{
    height: 300px;
    width: 240px;
    float: left;
    padding: 5px;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 6px #000;
    transition: .8s;
}
.livro article figure img:hover{
    transform: translate(20px , 10px) scale(1.2);

}

.livro article #descicao{
   padding: 0 20px;
   margin-left: 15px;
  
}
.livro article #descicao h1{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
.livro article #descicao p{
    display: block;
    min-width: 100% ;
    margin: 10px 0px;
    line-height: 1.5;
    text-align: justify;
}
.livro article #descicao p strong{
    font-size: 16px;
    font-weight: bold;
}
P.postegem{
    font-size: 14px;
    text-align: end !important;
    padding: 10px;
}


.livro .botoes{
    width: 400px;
    height: 60px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}
.livro .botoes a{
   color: #000;
   text-decoration: none;
   padding: 5px 20px;
   background: chocolate;
   border-radius: 10px;
   font-size: 20px;
}
.livro .botoes a:hover{
    background: rgb(127, 81, 60);
    color: #fff;
}

.clear, .clear::before, .clear::after{
    clear: both;
    content: '';
    display: table;
}

@media screen and (min-width: 201px) and (max-width: 800px){
    .livro{
        min-width: 100%;
        min-height: 86vh;
        margin: 0;
        display: block;
    }

    .livro article{
        width: 100%;
        display: block;
        margin: 10px 0px;
    }
    .livro article figure{
        display: flex;
        max-width: 100vw;
        height: 320px;
        justify-content: center;
    }
    .livro article figure img:hover{
        transform: scale(1);
    }

    .livro article #descicao{
        padding: 0px;
        margin: 0px;
    }
    .livro article #descicao h1{
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
      
    }
    .livro article #descicao p{
        display: block;
        width: 100% ;
        margin: 10px 0px;
        line-height: 1.5;
        text-align: justify;
    }
    .livro .botoes{
        width: 100%;
        margin: 25px 0;
    }
}

@media screen and (max-width: 1100px){
    .livro{
        max-width: 100vw;
    
    }
}
