
body{
    background: rgb(226, 220, 220);
}

main {
    width: 80vw;
    height: calc(100vh - 60px);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

main section form h2{
    text-align: center;
    display: block;
    margin-bottom: 10px;
    color: #fff;
}
main section form{
    width: 400px;
    display: block;
    padding: 20px;
    margin: auto;
    background: rgba(102, 104, 102, 0.698);
    border-radius: 20px;

}
section form input[type='email'], input[type='password']{
    width: 100%;
    height: 35px;
    margin: 10px 0px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #555;
}
section form input:focus{
    border: 1px solid #f00;
}

section form input[type='submit']{
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid #555;
    font-size: 16px;
}
section form input[type='submit']:hover{
    background: linear-gradient(to bottom ,rgba(235, 227, 227, 0.917) , rgba(187, 181, 181, 0.883) );
    cursor: pointer;
}
.msg{
    color: rgb(102, 38, 38);
    display: block;
    /* background: #fff; */
    height: 25px;
}



