
main{
    width: 80vw;
    min-height: calc(100vh - 140px) ;
    margin: auto;
}
.livros-listados ul{
    width: 80vw;
    min-height: 78vh;    
}

.livros-listados ul li {
    width: 260px;
    min-height: 480px;
    float: left;
    margin: 20px ;
    text-align: center;
}
.livros-listados ul li img{
    width: 250px;
    height: 300px;
    padding: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .6);
}
.livros-listados ul li img:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}
.livros-listados ul li h3 a{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding:8px 0px;
    min-height: 95px;
}
.livros-listados ul li h3 a:hover {
    color: rgb(163, 18, 18);;
}

.livros-listados ul li p a{
    font-size: 14px; 
    padding:4px 7px;
    border: 1px solid #555;
    border-radius: 5px;
}
.livros-listados ul li p a:hover{
    color: rgb(246, 17, 17);
    border: 1px solid rgb(246, 17, 17);
}

.msg-livro-achado{
    padding: 20px;
}
.msg-livro-achado strong{
    /* text-decoration: underline; */
    font-size: 20px;
}


/*----- Paginação ----- */
.paginacao{
    clear: both;
    min-height: 40px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: #000;
    position: relative;
}
.paginacao p{
    padding: 6px;
    font-size: 18px;
}
.paginacao p a{
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 3px 6px;
    margin: 0 5px;
}
.paginacao p span{
    padding: 6px;
    margin: 0 5px;
    text-decoration: underline;
}
.paginacao p a:hover{
    color: #f00;
}


@media screen and (max-width: 700px) {
    main{
        width: 100vw;
    }
    .livros-listados ul{
        width: 100vw;
    }
    .livros-listados ul li {
        float: none;
        display: block;
        margin: 20px auto 30px;
        text-align: center;

    }
}